@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

html {
    overflow: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
  }
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.FirstDiv, 
.SecondDiv,
.ThirdDiv,
.FifthDiv {
    padding-top: 100px;
    height: 1080px;
    scroll-snap-align: start;
}
.FourthDiv {
    padding-top: -50px;
    scroll-snap-align: start;
}
.wrapper {
    height: 100px;
    scroll-snap-align: start;
}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }


.fixTop {
    scroll-snap-align: start;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    background: #fff;
    box-shadow: 0px 5px 0px #dedede;

    & img {
        height: 100px;
        width: 100px;
        margin-left: 30%;
    }

    & h2 {
        font-family: 'Open Sans';
        font-weight: bold;
        font-size: 25px;
        color: black;
    }

}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.fixTop .icon {
    display: none;
}
.fixTop a {
    position: relative;
    float: left;
    display: block;
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Questrial';
    font-weight: normal;
    color: #FF721B;
    margin-right: 20px;
}
.fixTop a:nth-child(5) {
    margin-right: 40px;
}
.fixTop a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    background-color: blue;
    height: 2px;
    width: 0;
    transition: 0.3s ease;
    
}
.fixTop a:hover::before{
    color: #555;
    width: 100%;
}

@media (max-width: 800px) {
    .fixTop a {display: none;}
    .fixTop a.icon {
        display: block; 
    }
  }
  
@media (max-width: 800px) {
    .fixTop.responsive {
        position: relative; 
    } 
    .fixTop.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .fixTop.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .fixTop.fixTop.responsive .logo {
        display: none;
    }
}
.FirstDiv {
    background: linear-gradient(500deg, #00bfff, white,#E4B4F1);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    grid-template-areas: 
    'left Photo1'
    'left Photo1';

    & .leftContent {
        margin-top: auto;
        margin-bottom: auto;
    }
    & h1 {
        grid-area: left;
        font-family: 'Questrial';
        text-align: left;
        margin-top: 50px;
        margin-left: 50px;
        font-size: clamp(1.5rem, 9vw, 5.5rem);
        width: 110%;
    }

    & p {
        grid-area: left;
        font-family: 'Open Sans';
        font-weight: normal;
        margin-left: 50px;
        text-align: justify;
        font-size: clamp(1.2rem, 2vw + 0.5rem, 2rem);
    }
    & .spanLearn {
        color: #FF721B;
    }

    & .spanWW {
        color: black;
        font-weight: bolder;
    }
    & .card1 {
        margin-top: auto;
        margin-bottom: auto;
    }
    & .card1 img {
        grid-area: Photo1;
        width: clamp(400px 50vw, 650px);
        max-width: 70%;
        display: block;
        object-fit: contain;
        margin-left: auto;
        margin-right: auto;
    }

}
@media (max-width: 900px) {
    .FirstDiv {
        height: auto;
        grid-template-columns: 2fr;
        grid-template-rows: 250px 500px;
        grid-template-areas: 
        'title'
        'Caption'
        'Photo1';
    }
    .FifthDiv .leftContent {
        margin-top: 0;
    }
    .FirstDiv h1 {
        margin-top: 10px;
        margin-left: 0;
        width: 100%;
        text-align: center;
    }
    .FirstDiv p {
        margin-left: auto;
        margin-right: auto;
        text-align: justify;
        width: 90%;
    }
    .FirstDiv .card1 img {
        margin-left: auto;
        margin-right: auto;
        max-width: 50%;
    }
}
@media (max-width: 500px) {
    .FirstDiv .card1 img {
        max-width: 100%;
    }
}

.SecondDiv {
    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-template-rows: 50%;
    grid-template-areas: 
    'secondPhoto1 right'
    'secondPhoto1 right';

    & .rightContent {
        margin-top: 150px;
    }
    & h1 {
        grid-area: right;
        font-family: 'Questrial';
        font-size: clamp(1.5rem, 9vw, 5.5rem);
        text-align: left;
        margin-left: 50px;
    }

    & span {
        color: blue;
    }

    & p {
        grid-area: right;
        font-family: 'Open Sans';
        font-weight: normal;
        text-align: justify;
        width: 90%;
        font-size: clamp(1.2rem, 1vw + 0.8rem, 2rem);
        margin-left: 50px;
    }

    & .card1 {
        grid-area: secondPhoto1;
        margin-top: auto;
        margin-bottom: auto;
    }
    &  .card1 img {
        width: clamp(500px, 50vw, 750px);
        max-width: 100%;
        display: block;
        object-fit: contain;
        margin-left: 5%;
    }
}
@media (max-width: 950px) {
    .SecondDiv {
        height: auto;
        grid-template-columns: 2fr;
        grid-template-rows: 300px;
        grid-template-areas: 
        'right'
        'secondPhoto1'
        ;
    }
    .SecondDiv .rightContent {
        margin-top: 30px;
    }
    .SecondDiv h1 {
        margin-left: 0;
        text-align: center;
    }
    .SecondDiv p {
        text-align: center;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .SecondDiv .card1 img {
        margin-left: auto;
        margin-right: auto;
    }
}

.ThirdDiv {
    background: linear-gradient(500deg, #00bfff, white,#E4B4F1);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;

    display: grid;
    grid-template-columns: 5fr 5fr 5fr;
    grid-template-rows: 2fr 2fr 2fr 5fr;
    grid-template-areas: 
    'thirdTitle1 thirdCaption1 thirdText1'
    'thirdTitle2 thirdCaption2 thirdText2'
    'thirdTitle3 thirdCaption3 thirdText3'
    'thirdTitle4 thirdCaption4 thirdText4'
    ;

    & .htmlTopic {
       grid-area: thirdTitle1;
       font-family: 'Questrial';
       font-size: 5rem;
       color: #FF721B;
       margin: auto;
       text-shadow: 3px 3px 10px gray;

    }

    & .htmlMeaning {
        grid-area: thirdTitle2;
        font-family: 'Questrial';
        width: 100%;
        font-size: 3rem;
        text-align: center;
        margin: auto;
        color: #7A4E3B;
    
    }

    & .htmlText {
        grid-area: thirdTitle3;
        font-family: 'Open Sans';
        font-weight: normal;
        text-align: justify;
        width: 90%;
        font-size: 1.5rem;
        margin: auto;
    }

    & .htmlVid {
        grid-area: thirdTitle4;
        height: 250px;
        width: 450px;
        margin: auto;
        margin: center;
        box-shadow: 5px 5px 8px black;
       

    }

    & .cssTopic {
        grid-area: thirdCaption1;
        font-family: 'Questrial';
        font-size: 5rem;
        color: blue;
        margin: auto;
        text-shadow: 3px 3px 10px gray;
    }
    
    & .cssMeaning {
        grid-area: thirdCaption2;
        font-family: 'Questrial';
        width: 100%;
        font-size: 3rem;
        text-align: center;
        margin: auto;
        color: #7A4E3B;
    }

    & .cssText {
        grid-area: thirdCaption3;
        font-family: 'Open Sans';
        font-weight: normal;
        text-align: justify;
        width: 90%;
        font-size: 1.5rem;
        margin: auto;
    }

    & .cssVid {
        grid-area: thirdCaption4;
        height: 250px;
        width: 450px;
        margin: auto;
        box-shadow: 5px 5px 8px black;
       
    } 

  
    & .jscriptTopic {
        grid-area: thirdText1;
        font-family: 'Questrial';
        font-size: 5rem;
        margin: auto;
        color: yellow;
        text-shadow: 3px 3px 10px gray;

    }

    & .jscriptMeaning {
        grid-area: thirdText2;
        font-family: 'Questrial';
        width: 100%;
        font-size: 3rem;
        text-align: center;
        margin: auto;
        color: #7A4E3B;
    }

    & .jscriptText {
        grid-area: thirdText3;
        font-family: 'Open Sans';
        font-weight: normal;
        text-align: justify;
        width: 90%;
        font-size: 1.5rem;
        margin: auto;
        
    }

    & .jscriptVid {
        grid-area: thirdText4;
        height: 250px;
        width: 450px;
        margin: auto;
        box-shadow: 5px 5px 8px black;
    }
}


@media (max-width:1400px) {
    .ThirdDiv {
        height: auto;
        grid-template-columns: 3fr;
        grid-template-rows: 3fr;
        grid-template-areas: 
        'thirdTitle1'
        'thirdTitle2'
        'thirdTitle3'
        'thirdTitle4'
        'thirdCaption1'
        'thirdCaption2'
        'thirdCaption3'
        'thirdCaption4'
        'thirdText1'
        'thirdText2'
        'thirdText3'
        'thirdText4'
        ;
    }
     .ThirdDiv .htmlVid {
         height: 250px;
         width: 350px;
         margin: 30px auto;
     }
     .ThirdDiv .cssVid {
         height: 250px;
         width: 350px;
         margin: 30px auto;
     } 
    .ThirdDiv .jscriptVid {
         height: 250px;
         width: 350px;
         margin: 30px auto;
     }
}
@media (max-width:375px) {
    .ThirdDiv .htmlVid {
        height: 250px;
        width: 300px;
    }
    .ThirdDiv .cssVid {
        height: 250px;
        width: 300px;
    } 
   .ThirdDiv .jscriptVid {
        height: 250px;
        width: 300px;
    }
    .ThirdDiv .htmlText {
        width: 90%;
        font-size: 1.2rem;
        margin: auto;
    }
    .ThirdDiv .cssText {
        width: 90%;
        font-size: 1.2rem;
        margin: auto;
    }
    .ThirdDiv .jscriptText {
        width: 90%;
        font-size: 1.2rem;
        margin: auto;
        
    }
}

.FourthDiv {
    width: auto;
    height: auto;
    max-width: 100%;
}
.carousel-caption a {
    font-family: "Open Sans";
    text-decoration: none;
    color: white;
    font-size: 30px;
    text-decoration: none;
    color: white;
    font-weight: normal;
    text-transform: uppercase;
}
.carousel-caption {
    margin-bottom: 30px;
}
.carousel-caption button {
    padding: 10px 20px;
}
.carousel-caption h2 {
    font-family: 'Open Sans';
    font-size: 3rem;
    color: white;
    font-weight: bolder;

}
.carousel-control-next {
    height: 80%;
    margin-top: auto;
    margin-bottom: auto;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
@media (max-width:1000px) {
    .carousel-caption h2 {
        display: none;
    }
}

.FifthDiv {
    background: linear-gradient(500deg, #00bfff, white,#E4B4F1);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;

}

.FifthDiv h2 {
    text-transform: uppercase;
    font-size: 5rem;
    font-family:'Questrial';
    font-weight:900;
    margin-left: 40px;
    padding-bottom: 50px;
    text-align: center;
    margin-top: 4%;
    color: gray;
    text-shadow: 3px 3px 10px white;

}
@media (max-width: 500px) {
    .FifthDiv h2 {
        font-size: 3rem;
    }
}
.FifthDiv span {
    color: #FF721B;
}


.FifthDiv .team-content {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
}
.FifthDiv .team-content .learner-image {
    position: relative;
}

@media (max-width: 1250px) {
    .FifthDiv {
        height: auto;
    }
    .FifthDiv .team-content {
        flex-flow: column wrap;
        justify-content: center;
        align-content: center;
    }
}

.FifthDiv .team-content img {
    opacity: 1;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    height:300px;
    border-radius: 15px;
    box-shadow: 0 0 10px 10px #d3d3d3;
    margin-bottom: 20px;
  }
.FifthDiv .team-content .learner-name {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.FifthDiv .team-content .learner-image:hover img {
    opacity: 0.3;
}
.FifthDiv .team-content .learner-image:hover .learner-name {
    opacity: 1;
}
.FifthDiv .team-content .learner-name a {
    font-family: 'Questrial';
    color: black;
    font-weight: lighter;
    font-size: 1.5rem;
    text-decoration: none;

}
.FifthDiv .team-content .learner-name a::after {
    content: '';
    display: block;
    height: 4px;
    width: 0;
    background:gray;
    transition: all 0.5s;
}
.FifthDiv .team-content .learner-name a:hover::after {
    width: 100%;
}

footer .wrapper .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
   /*  border-top: 3px solid black; */
}
footer .wrapper .logo h2 {
    font-size: 1rem;
    font-family: 'Open Sans';
    font-weight: normal;
}
footer .wrapper h3 {
    text-align: center;
    font-weight: normal;
    font-size: 1rem;
    margin-bottom: 40px;
}
footer .wrapper .sponsor-image {
    display: flex;
    justify-content: center;
}
footer .wrapper .sponsor-image img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 2px solid #90CEED;
    margin-bottom: 20px;
    margin-right: 20px;
}
@media (max-width:425px) {
    footer .wrapper .sponsor-image img {
        width: 80px;
        height: 80px;
    }
}