  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

.Home, 
.About_Me,
.Background,
.Gallery,
.Gallery_second, 
.Self_caption,
.Colorful_layout,
.footer {
  height: 1000px;
  scroll-snap-align: start;
}
html {
  overflow: scroll;
  scroll-snap-type: y mandatory;
}
  /***** Home Template ******/
.Home {
  display: grid;
  grid-template-columns: 660px 500px 760px;
  grid-template-rows: 455px 455px 455px;
  grid-template-areas: 'one two three'
  'four five six';
  background-color: #E1E4E0;
}

header .card_photo1 {
  grid-area: one;
  margin: auto;

  & img {
    height: 600px;
    width: 600px;
  }  
}

header .card_photo2 {
  grid-area: two;
  margin-top: 150px;

  & img {
    height: 400px;
    width: 400px;
  }
}

header .card_photo3 {
  grid-area: six;

  & img {
    height: 300px;
    width: 325px;
    margin-left: 30px;
  }

  & p {
    font-family: "Questrial";
    margin-left: 65%;
    font-size: large;
  }
 
}

header .home_name {
  grid-area: three;
  font-size: 4rem;
 
  & h1 {
  font-family: "Questrial";
  font-weight: lighter;
  margin-bottom: 0%;
  margin-top: 200px;
  margin-left: 50px;
 }
  
}

header .home_caption {
  grid-area: four;
  margin-top: 100px;
  margin-left: 100px;

  & h2 {
    font-family: "Questrial";
    font-weight: bold; 
}

 & p {
  font-family: "Open Sans";
  color: black;
  font-weight: 400;

 }
}

@media (max-width: 1860px) {
  .Home .home_name h1 {
    font-size: 4rem;
  }
  .Home .card_photo3 p {
    margin-left: auto;
  }
}
@media (max-width: 1730px) {
  .Home {
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 300px 300px;
    grid-template-areas: 
    'one three'
    'two four'
    'five six'
    ;
  }
  
  .Home .card_photo1 img {
      width: 500px;
      height: 500px;
  }
  .Home .home_caption {
    grid-area: two;
    margin-top: 100px;
    margin-left: 100px;
  }
  .Home .home_caption h2 {
      font-weight: bold; 
  }
  .Home .home_caption p {
    color: black;
    font-weight: 400;
  }
  .Home .home_name {
    grid-area: three;
  }
  .Home .home_name h1 {
    font-size: 3rem;
    font-weight: lighter;
  }
  .Home .card_photo2 {
    grid-area: four;
    margin-top: 0;
  }
  .Home .card_photo2 img {
    width: 500px;
    height: 500px;
  }
  .Home .card_photo3 {
    grid-area: five;
    margin-left: auto;
    margin-right: auto;
  }
  .Home .card_photo3 img {
    height: 400px;
    width: 425px;
  }
  .Home .card_photo3 .copyright {
    margin-right: auto;
    font-size: large;
    text-align: right;
  }
}
@media (max-width: 975px) {
  .Home {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 200px 150px 300px;
    grid-template-areas: 
    'one' 
    'two'
    'three' 
    'four'
    'five' 
    'six'
    ;
  }
  
  .Home .home_caption {
    grid-area: two;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .Home .home_caption h2 {
      margin-top: 150px;
      font-weight: bold; 
      font-size: 2.5rem;
  }
  .Home .home_caption p {
    color: black;
    font-weight: 400;
  }
  .Home .home_name {
    grid-area: three;
  }
  .Home .home_name h1 {
    font-size: 3rem;
    font-weight: lighter;
    text-align: center;
    margin-left: 0;
  }
  .Home .card_photo2 {
    grid-area: four;
    margin: 0 auto;
  }
  .Home .card_photo2 img {
    width: 500px;
    height: 500px;
  }
  .Home .card_photo3 {
    grid-area: five;
  }
  .Home .card_photo3 img {
    height: 500px;
    width: 500px;
    margin: 0 auto;
  }
  .Home .card_photo3 .copyright {
    text-align: end;
  }
}
@media (max-width: 550px) {
  .Home .card_photo1 img {
    max-width: 100%;
    display: block;
    object-fit: contain;
  }
  .Home .home_caption p {
    font-size: 1.2rem;
    width: auto;
  }
  .Home .home_name h1 {
    font-size: 3rem;
    margin-left: 0;
  }
  .Home .card_photo2 img {
    max-width: 100%;
    display: block;
    object-fit: contain;
  }

  .Home .card_photo3 img {
    max-width: 100%;
    display: block;
    object-fit: contain;
  }
  .Home .card_photo3 .copyright {
    text-align: center;
  }
}
 /***** Home Template ******/

 /*****ABOUT ME*****/
.About_Me {
  display: grid;
  grid-template-columns: 960px 960px;
  grid-template-rows: 455px 455px;
  grid-template-areas: 
  'about_one about_two' 
  'about_one about_two'; 
  background-color: #201E1E;
}


.About_Me .about_content {
  grid-area: about_one;
  font-family: "Open Sans";
  color: white;


  & h1 {
    width: 500px;
    font-size: clamp(2rem, 5vw, 4rem);
    text-align: left;
    margin-top: 20%;
    margin-left: 10%;
  }

  & p {
    width: clamp(400px, 80%, 800px);
    text-align: justify;
    margin-left: 10%;
    font-size: clamp(1.2rem, 2vw, 2rem);
    font-weight: 400;
  }
} 

.About_Me .card_photo4 {
  grid-area: about_two;
  margin: auto;
}
.About_Me .card_photo4 img {
  max-width: 100%;
  display: block;
  object-fit: cover;
  width: clamp(250px, 30vw, 600px);
}
@media (max-width:1740px) {
  .About_Me .card_photo4 {
    margin-left: 0;
  }
}
@media (max-width:1430px) {
  .About_Me .card_photo4 {
    margin-left: -50px;
    width: clamp(250px, 25vw, 400px);
  }
}
/*****ABOUT ME*****/
@media (max-width: 1260px) {
  .About_Me {
    grid-template-columns: 1fr;
    grid-template-areas: 
    'about_one'
    'about_two' 
    ;
  }
  .About_Me .about_content h1 {
    margin-left: 0;
    margin-top: 50px;
    width: auto;
    text-align: center;
  }
  .About_Me .about_content p {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 80%;
    text-align: center;
  }
  .About_Me .card_photo4 {
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (max-width: 768px) {
  .About_Me .card_photo4 {
    margin-top: auto;
  }
}
/***** PERSONAL BACKGROUND *****/
.Background {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 2fr;
  grid-template-rows: 5fr;
  grid-template-areas: 
  'bg_one bg_two bg_three bg_four';
  background-color: #E1E4E0;
}

.Background .bg_title {
  grid-area: bg_one;
  width: 100%;
  margin-top: 15%;


  & h1 {
    font-family: "Questrial";
    font-size: clamp(1.5rem, 3vw, 3rem);
    font-weight: 100;
    margin-top: 25%;
    margin-left: 10%;
    
  }
}

.Background .Learning {
  grid-area: bg_two;
  width: 80%;
  margin-top: 50%;
  

  & h1 {
    font-size: clamp(1rem, 3vw, 3rem);
    font-weight: 100;
  }

  & h2 {
    font-family: "Questrial";
    font-size: 200%;
  }

  & p {
    font-family: "Open Sans";
    font-size: 150%;
  }
}

.Background .Skills {
  grid-area: bg_three;
  width: 80%;
  margin-top: 50%;

  & h1 {
    font-size: 3rem;
    font-weight: 100;
  }

  & h2 {
    font-family: "Questrial";
    font-size: 200%;
  }

  & ul {
    font-family: "Open Sans";
    font-size: 150%;
    margin-left: -5%;
  }
}

.Background .Employment_history {
  grid-area: bg_four;
  width: 90%;
  margin-top: 50%;

  & h1 {
    font-size: 3rem;
    font-weight: 100;
  }

  & h2 {
    font-family: "Questrial";
    font-size: 200%;
  }

  & ul {
    font-family: "Open Sans";
    margin-left: -2%;

  }
}

.Background .Employment_history,
.List1,
.List2,
.List3,
.List4 {
  font-family: "Questrial";
  font-size: 120%;
  margin-left: -5%;
}
/***** PERSONAL BACKGROUND *****/
@media (max-width: 1440px) {
  .Background {
    height: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px;
    grid-template-areas: 
    'bg_one bg_one bg_one' 
    'bg_two bg_three bg_four';
  }
  .Background .bg_title {
    grid-area: bg_one;
    margin-top: 50px;
  }
  .Background .bg_title h1 {
    font-weight: 100;
    margin-top: 0;
    margin-left: 0;
    text-align: center;
    
  }
  .Background .Learning {
    margin-left: 50px;
    margin-top: 0;
  }
  .Background .Skills {
    grid-area: bg_three;
    margin-top: 0;
  
    & ul {
      margin-left: 0%;
    }
  }
  .Background .Employment_history {
    grid-area: bg_four;
    margin-top: 0;
  
    & ul {
      margin-left: 0%;
    }
  }
}
@media (max-width: 930px) {
  .Background {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 100px;
    grid-template-areas: 
    'bg_one' 
    'bg_two' 
    'bg_three' 
    'bg_four';
  }

  .Background .Learning {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .Background .Learning h2 {
    text-align: center;
  }
  .Background .Skills {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;

    & ul {
      margin-left: 0%;
    }
  }
  .Background .Skills h2 {
   text-align: center; 
  }
  .Background .Employment_history {
    width: 500px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;

    & ul {
      margin-left: 0%;
    }
  }
  .Background .Employment_history h2 {
    text-align: center;
  }
  .Background .Employment_history li {
    /* font-size: 120%; */
    margin-left: 0%;
  }
}
@media (max-width: 600px) {
  .Background .bg_title {
    width: 100%;
    /* & h1 {
      font-size: 1.5rem;
    } */
  }
  .Background .Learning {
    width: 300px;
  }
  .Background .Skills {
    width: 300px;
  }
  .Background .Employment_history {
    width: 300px;
  }
}
/***** GALLERY*****/
.Gallery {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  grid-template-rows: 4fr 4fr 4fr;
  grid-template-areas: 
  'resto1 resto2 resto3'
  'photo1 photo2 photo3'
  'pic1 pic2 pic3';
  background-color: #201E1E;
  color: white;
}


.Gallery .sw_cap {
  grid-area: resto1;
  font-family: 'Questrial';
  font-size: 4rem;
  font-weight:lighter;
  margin-left: 10%;
  text-align: center;
  width: 50%;
  margin-top: 20%;
}

.Gallery .resto_photo1 {
  grid-area: photo1;
  margin-left: 15%;
  font-family: 'Questrial';
  
  & img {
    height: 300px;
    width: 500px;
  }

  
  & .resto_cap {
    grid-area: pic1;
    margin-top: -17%;
    margin-left: 15%;
    font-size: 1.5rem;
    font-weight: normal;
  }

  & .number1 {
    font-size: 3.5rem;

  }

  & .resto_par {
    font-size: 1rem;
    font-weight: lighter;
    width: 65%;
    margin-top: -1%;
    margin-left: 15%;
  }
}

.Gallery .resto_photo2 {
  grid-area: photo2;
  margin-top: -28%;
  margin-left: 7.5%;

  & img {
    height: 300px;
    width: 490px;
  }
}

.Gallery .resto_photo3 {
  grid-area: pic2;
  margin-top: -42%;
  margin-left: 7%;
  
  & img {
    height: 300px;
    width: 500px;
  }
}

.Gallery .sample_shot1 {
  grid-area: photo3;
  font-family: 'Questrial';
  margin-top: -35%;

  & img {
    margin-left: 5%;
    height: 500px;
    width: 350px;
  }

  & .ss_cap {
    font-size: 1.5rem;
    font-weight: normal;
    margin-top: -14%;
    margin-left: 17%;
 
  }

  & .number2 {
    font-size: 3.5rem;
    margin-left: 4%;
  }

  & .ss_par {
    font-size: 1rem;
    font-weight: lighter;
    margin-left: 17%;
    margin-top: -1%;
    width: 45%;
  }
}
@media (max-width: 1700px) {
  .Gallery {
    height: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 500px 1fr;
  }
  .Gallery .sw_cap {
    grid-area: 1 / 2 / 1 / 2;
    font-size: 4rem;
    margin-left: 0;
    margin-top: 0;
    width: 100%;
    margin-top: 100px;
  }
  .Gallery .resto_photo1 {
    grid-area: 2 / 1 / 2 / 1;
    margin-top: 200px;
    margin-left: auto;
}

.Gallery .resto_photo2 {
  grid-area: 2 / 2 / 2 / 2;
  margin: auto;

  & img {
    height: 300px;
    width: 490px;
  }
}

.Gallery .resto_photo3 {
  margin: auto;

  
  & img {
    height: 350px;
    width: 500px;
  }
}

.Gallery .sample_shot1 {
  grid-area: 2 / 3 / 3 / 3;
  margin-top: 0;
  & img {
    margin-left: 0;
    height: 500px;
    width: 350px;
  }

  & .ss_cap {
    font-size: 1.5rem;
    font-weight: normal;
    margin-top: 0;
    margin-left: 0;
 
  }

  & .number2 {
    font-size: 3.5rem;
    margin-left: 0;
  }

  & .ss_par {
    font-size: 1rem;
    font-weight: lighter;
    margin-left: 0;
    margin-top: 0;
    width: auto;
  }
}
}
@media (max-width: 1440px) {
  .Gallery {
    grid-template-columns: 1fr;
    grid-template-rows: 200px 500px;
    grid-template-areas: 
    'one'
    'two'
    'three'
    'four'
    'five'
    ;
  }
  .Gallery .sw_cap {
    grid-area: one;
  }
  .Gallery .resto_photo1 {
    grid-area: two;
    margin: auto;
  }

  .Gallery .resto_photo2 {
    grid-area: three;
    margin-bottom: 20px;
    width: 40%;
    & img {
      width: 510px;
    }
  }

  .Gallery .resto_photo3 {
    grid-area: four;
    margin-bottom: 20px;
    width: 40%;
    & img {
      width: 510px;
    }
  }

  .Gallery .sample_shot1 {
    grid-area: five;
    margin: auto;
    width: auto;
    text-align: center;

    & img {
      width: 700px;
      height: 700px;
      object-fit: contain;
    }

  }
}
@media (max-width: 1024px) {
  .Gallery .resto_photo2 {
    grid-area: three;
    margin-bottom: 20px;
    width: auto;
    & img {
      width: 510px;
      height: 300px;
    }
  }

  .Gallery .resto_photo3 {
    grid-area: four;
    margin-bottom: 20px;
    width: auto;
    & img {
      width: 510px;
      height: 300px;
    }
  }

  .Gallery .sample_shot1 {
    grid-area: five;
    margin: auto;
    width: auto;
    text-align: center;

    & img {
      width: 700px;
      height: 700px;
      object-fit: contain;
    }

  }
}
@media (max-width: 768px) {
  .Gallery .resto_photo1 {
    width: 80%;
  }
  .Gallery .resto_photo1 img {
    width: 400px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    object-fit: contain;
  }
  .Gallery .resto_photo2 img {
      width: 410px;
      max-width: 100%;
      display: block;
      object-fit: contain;
  }

  .Gallery .resto_photo3 img {
      width: 410px;
      max-width: 100%;
      display: block;
      object-fit: contain;
  }

  .Gallery .sample_shot1 img {
      width: 500px;
      height: 500px;
      max-width: 100%;
      display: block;
      object-fit: contain;
  }
}
.Gallery_second {
  display: grid;
  grid-template-columns: 5fr 5fr;
  grid-template-rows: 5fr 5fr;
  grid-template-areas: 
  'gallery1 gallery2'
  'gallery3 gallery4';
  background-color: #E1E4E0;
}

.Gallery_second .sw_cap2 {
  grid-area: gallery1;
  font-family: 'Questrial';
  font-size: 4rem;
  font-weight:lighter;
  width: 0%;
  margin-top: 10%;
  margin-left: 10%;
}

.Gallery_second .sample_shot2 {
  grid-area: gallery3;
  font-family: 'Questrial';
  margin-top: -42%;
  margin-left: 10%;

  & img {
    height: 425px;
    width: 650px;
  }

  & .number3 {
    font-size: 3.5rem;
    margin-left: 0%;
  }

  & .ss_cap2 {
    font-size: 1.5rem;
    font-weight: normal;
    margin-top: -10%;
    margin-left: 9%;
  }

  & .ss_par2 {
      font-size: 1rem;
      font-weight: lighter;
      margin-left: 9%;
      margin-top: -1%;
      width: 50%;
    }

}
.Gallery_second .photoEn {
  grid-area: gallery2;
  margin-top: 10%;
  font-family: 'Questrial';


  & img {
    height: 425px;
    width: 650px;
  }

  & .number4 {
  font-size: 3.5rem;
  margin-left: 0%;
  }

  & .photoEn_cap {
    font-size: 1.5rem;
    font-weight: normal;
    margin-top: -9%;
    margin-left: 9%; 
  }

  & .photoEn_par {
    font-size: 1rem;
    font-weight: lighter;
    margin-left: 9%;
    margin-top: -1%;
    width: 50%;
  }

}

@media (max-width: 1440px) {
  .Gallery_second {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 200px;
    grid-template-areas: 
    'gallery1' 
    'gallery2'
    'gallery3';
    background-color: #E1E4E0;
  }
  .Gallery_second .sw_cap2 {
    grid-area: gallery1;
    font-size: 4rem;
    width: auto;
    margin-top: 30px;
    margin-left: 0;
    text-align: center;
  }
  
  .Gallery_second .sample_shot2 {
    grid-area: gallery2;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  
    & img {
      height: 425px;
      width: 650px;
    }
  
    & .number3 {
      font-size: 3.5rem;
      margin-left: 0%;
    }
  
    & .ss_cap2 {
      font-size: 1.5rem;
      font-weight: normal;
      margin-top: 0;
      margin-left: 0;
    }
  
    & .ss_par2 {
        font-size: 1rem;
        font-weight: lighter;
        margin-left:0;
        margin-top: 0;
        width: 50%;
      }

  }
  .Gallery_second .photoEn {
    grid-area: gallery3;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    
    & img {
      height: 425px;
      width: 650px;
    }
  
    & .number4 {
    font-size: 3.5rem;
    margin-left: 0%;
    }
  
    & .photoEn_cap {
      font-size: 1.5rem;
      font-weight: normal;
      margin-top: 0;
      margin-left: 0; 
    }
  
    & .photoEn_par {
      font-size: 1rem;
      font-weight: lighter;
      margin-left: 0;
      margin-top: 0;
      width: 50%;
    }
  
  }
}
@media (max-width: 768px) {
  .Gallery_second .sw_cap2 {
    grid-area: gallery1;
    font-size: 4rem;
    width: auto;
    margin-top: 30px;
    margin-left: 0;
    text-align: center;
  }
  
  .Gallery_second .sample_shot2 {
    grid-area: gallery2;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  
    & img {
      height: 325px;
      width: 550px;
      max-width: 100%;
      display: block;
      object-fit: contain;
    }
  
    & .number3 {
      font-size: 3.5rem;
      margin-left: 0%;
    }
  
    & .ss_cap2 {
      font-size: 1.5rem;
      font-weight: normal;
      margin-top: 0;
      margin-left: 0;
    }
  
    & .ss_par2 {
        font-size: 1rem;
        font-weight: lighter;
        margin-left:0;
        margin-top: 0;
        width: auto;
      }

  }
  .Gallery_second .photoEn {
    grid-area: gallery3;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
    & img {
      height: 325px;
      width: 550px;
      max-width: 100%;
      display: block;
      object-fit: contain;
    }
  
    & .number4 {
    font-size: 3.5rem;
    margin-left: 0%;
    }
  
    & .photoEn_cap {
      font-size: 1.5rem;
      font-weight: normal;
      margin-top: 0;
      margin-left: 0; 
    }
  
    & .photoEn_par {
      font-size: 1rem;
      font-weight: lighter;
      margin-left: 0;
      margin-top: 0;
      width: auto;
    }
  
  }
}
/***** GALLERY*****/

/* SELF CAPTION */
.Self_caption{
  background-color: #201E1E;
  display: flex;
  flex-direction: row;

  & .self_text {
    font-family: 'Questrial';
    font-size: 2rem;
    font-weight: bolder;
    text-align: left;
    color: white;
    width: 40%;
    margin-top: 8%;
    margin-left: 5%;
  }

  & .art_text, .possibilities_text, .endless_text {
    color: yellow;
  }
}

.Photos {
  margin-top: 12%;
  margin-left: 150px;

  & .selfCaption_photo1 img {
    height: 250px;
    width: 250px;
    margin-bottom: 30px;
  }

  & .selfCaption_photo2 img {
    height: 200px;
    width: 400px;
  }
}
@media (max-width: 1344px) {
  .Self_caption {
    height: auto;
    flex-direction: column;
  }
  .Self_caption .self_text {
    font-size: 2.5rem;
    font-weight: bolder;
    text-align: center;
    color: white;
    width: auto;
    max-width: 90%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  & .art_text, .possibilities_text, .endless_text {
    color: yellow;
  }
  .Photos {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0;
    margin-left: 0;
  
    & .selfCaption_photo1 img {
      height: 250px;
      width: 250px;
      max-width: 100%;
      display: block;
      object-fit: contain;
      margin-bottom: 30px;
    }
  
    & .selfCaption_photo2 img {
      height: 200px;
      width: 400px;
      max-width: 100%;
      display: block;
      object-fit: contain;
    }
  }
}
@media (max-width: 700px) {
  .Self_caption .self_text {
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: left;
    color: white;
    width: auto;
    max-width: 90%;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .Photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 0;
    margin-left: 0;
  }
}
/* SELF CAPTION */

/* COLORFUL LAYOUT */
.Colorful_layout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: #E1E4E0;
  font-family: 'Questrial';
}

.cl_text {
  margin-top: 40%;
  margin-left: 25%;
  font-size: 2rem;


  & h2 {
    font-size: 1.2rem;
  }
  & p {
    font-size: 1.2rem;
  }
  & .C {color: #EA975C;}
  & .O {color: #FF3131;}
  & .L {color: #9EB230;}
  & .O-2 {color: #FF66C4;}
  & .R {color: #CB6CE6;}
  & .F {color: #FF3131;}
  & .U {color: #5E17EB;}
  & .L-2 {color: #F4D94F;}
}
.cl_photo1 {
  grid-area: 1 / 2 / 4 / 2;
  margin-top: 26%;
  margin-bottom: 0;
  text-align: left;
  margin-left: 13%;
  margin-right: 0;

  & .babyshop_text {
    width: 200px;
    text-align: center;
    margin-top: 5%;
    margin-left: 33%
  }
  
}
.cl_photo1 img {
  margin-left: 15%;
  width: 350px;
  height: 500px;
  
}
.cl_photo2 {
  grid-area: 1 / 3 / 3 / 3;
  margin-top: 12%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  text-align: center;

   & .nayaBooks_text {
    width: 200px;
    text-align: center;
    margin-top: 0%;
    margin-left: 20%;
   }

}
.cl_photo2 img {
  width: 300px;
  height: 300px;
}


.cl_photo3 {
  grid-area: 1 / 4 / 2 / 4;
  margin-top: 12%;
  margin-left: 0;
  margin-right: auto; 
  margin-bottom: auto;
  text-align: center;

  & .nayaUkay_text {
    width: 200px;
    text-align: center;
    margin-top: 0%;
    margin-left: 20%;
  }

}
.cl_photo3 img {
  width: 300px;
  height: 300px;
}
.cl_photo4 {
  grid-area: 2 / 3 / 3 / 5;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0;
}
.cl_photo4 img {
  width: 500px;
  height: 250px;

   & .bbanner_text {
    width: 100px;
    text-align: center;
    margin-top: 0%;
    margin-left: 20%;
   }
}

@media (max-width: 1500px) {
  .Colorful_layout {
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .cl_text {
    grid-area: 1 / 1 / 1 / 1;
    margin: auto;
    font-size: 2rem;
    width: 100%;
    max-width: 80%;
  }
  .cl_photo1 {
    grid-area: 1 / 2 / 1 / 2;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  
    & .babyshop_text {
      text-align: center;
      margin-top: 5%;
      margin-left: auto;
      margin-right: auto;
    }
    
  }
  .cl_photo1 img {
    margin-left: 15%;
    width: 350px;
    height: 500px;
    
  }
  .cl_photo2 {
    grid-area: 2 / 1 / 2 / 1;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    text-align: center;
  
     & .nayaBooks_text {
      text-align: center;
      margin-top: 0;
      margin-left: auto;
      margin-right: auto;
      font-size: 1.5rem;
     }
  
  }
  .cl_photo2 img {
    width: 500px;
    height: 500px;
  }
  
  .cl_photo3 {
    grid-area: 2 / 2 / 2 / 2;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    text-align: center;
  
    & .nayaUkay_text {
      text-align: center;
      margin-top: 0%;
      margin-left: auto;
      margin-right: auto;
      font-size: 1.5rem;
    }
  
  }
  .cl_photo3 img {
    width: 500px;
    height: 500px;
  }
  .cl_photo4 {
    grid-area: 3 / 1 / 3 / 3;
    text-align: center;
    margin-top: 50px;
  }
  .cl_photo4 img {
    width: 850px;
    height: 500px;
  
     & .bbanner_text {
      width: 100px;
      text-align: center;
      margin-top: 0%;
      margin-left: 20%;
     }
  }
}
@media (max-width: 1000px) {
  .Colorful_layout {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
  }
  .cl_text {
    grid-area: 1 / 1;
    margin: auto;
    font-size: 4rem;
    text-align: center;
  }
  .cl_photo1 {
    grid-area: 2 / 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
  }
  .cl_photo1 .babyshop_text {
    width: 100%;
    max-width: 80%;
    font-size: 2rem;
  }
  .cl_photo1 img {
    margin-left: 0;
    width: 350px;
    height: 500px;
    display: block;
    max-width: 100%;
    object-fit: contain;
  }
  .cl_photo2 {
    grid-area: 3 / 1;
    display: flex;
    align-items: center;
    flex-direction: column;
  
     & .nayaBooks_text {
      width: 100%;
      max-width: 80%;
      font-size: 2rem;
     }
  
  }
  .cl_photo2 img {
    width: 500px;
    height: 500px;
    display: block;
    max-width: 100%;
    object-fit: contain;
  }
  
  .cl_photo3 {
    grid-area: 4 / 1;
    display: flex;
    align-items: center;
    flex-direction: column;
  
    & .nayaUkay_text {
      width: 100%;
      max-width: 80%;
      font-size: 2rem;
    }
  
  }
  .cl_photo3 img {
    width: 500px;
    height: 500px;
    display: block;
    max-width: 100%;
    object-fit: contain;
  }
  .cl_photo4 {
    grid-area: 5 / 1;
    text-align: center;
    margin-top: 50px;
  }
  .cl_photo4 img {
    width: 850px;
    height: 500px;
    display: block;
    max-width: 100%;
    object-fit: contain;
  }
  
  .cl_photo4 .bbanner_text {
    text-align: center;
    font-size: 2rem;
   }
}
@media (max-width: 500px) {
  .cl_text {
    font-size: 2rem;
  }
}
/* COLORFUL LAYOUT */



.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #201E1E;
  color: white;
  font-family: 'Questrial';
}
.footer .contact h2 { 
    text-transform: uppercase;
    font-size: 5rem;
    text-align: center;
}
.contact .contact-span {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 10px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 20px;


  & p {
    text-align: right;
    font-size: 1rem;
  }
  & 
  .address,
  .email,
  .phone {
    text-transform: uppercase;
    font-size: 2rem;
  }
}
@media (max-width: 500px) {
  .contact .contact-span {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 20px;
  
  
    & p {
      text-align: center;
      font-size: 1rem;
    }
    & 
    .address,
    .email,
    .phone {
      text-transform: uppercase;
      font-size: 1.5rem;
    }
  }
}